
.BackgroundDiari
{
	background-color: #FAF5FF;
}

.MainBoxDiari
{
	width: 80%;
	height: auto;
	padding-top: 01%;
	padding-bottom: 05%;
}

.CajaTitulo>h1
{
	font-family: Helvetica;
	font-weight: bolder;
    font-size: calc(0.5rem + 0.8vw);
	color: black;
	text-align: center;
	margin-top: 5%;
	text-decoration: underline;
	display: flex;
	justify-content: flex-end;
}

.colDiari>h1
{
	font-family: Helvetica;
	font-weight: bolder;
    font-size: calc(0.5rem + 0.8vw);
	color: black;
	text-align: center;
	margin-top: 5%;
	display: flex;
	justify-content: flex-start;
}

h3
{
	font-family: Helvetica;
	text-align: justify!important;
	font-size: calc(0.5rem + 0.7vw);
	color: black;
	text-align: center;
}

h2
{
	font-family: Helvetica;
	text-align: justify!important;
	font-size: calc(0.5rem + 0.8vw);
	color: black;
	text-align: center;
	font-weight: bolder;
}

.Cajita
{
	border: solid;
	border-color: black;
}

.Colacao>img
{
	width: 100%;
	height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
}




.Tuki
{
	padding-bottom: 1rem;
}





h4
{
	font-family: Helvetica;
	font-size: calc(0.6rem + 0.8vw);
	color: black;
	font-weight: bolder;
	text-decoration: underline;
	padding-bottom: 1rem;
}

.EditorialBox
{
	margin-bottom: 2rem;
}

.Editorial
{
	padding-top: 1rem;
}

.Button 
{
    display: flex; 
    justify-content: flex-end; 
    margin-top: 6%;
}

#footer 
{
	width: 100%;
	height: auto!important;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

#footer >img 
{
	width: 100%;
	height: auto;
	margin-left: 1%;
}