
.BackgroundDiari
{
	background-color: #FAF5FF;
}

.MainBoxDiari
{
	width: 80%;
	height: auto;
	padding-top: 01%;
	padding-bottom: 05%;
	background-color: #FAF5FF;
}

.ImgDiari
{
	width: 100%;
	height: auto;
}

.colDiari
{
	width: 100%;
	height: auto;
	overflow: hidden;
}

.TituloText
{   
    padding-top: 03%;
    padding-bottom: 02%;
}
.TituloText>h1
{
	font-family: Helvetica;
	font-weight: bolder;
    font-size: calc(1.1rem + 0.8vw);
	color: black;
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}

.Colacao
{
	height: auto!important;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.ImgMickie>img 
{
	width: 100%!important;
	height: auto;
}

.Index
{	
	width: 90%;
	height: auto;
	border: solid;
	border-color: black!important;
	padding: 1rem;
}

.Tuki
{
	padding-bottom: 1rem;
}

h2
{
	font-family: Helvetica;
	text-align: justify!important;
	font-size: calc(0.5rem + 0.8vw);
	color: black;
	text-align: center;
	font-weight: bolder;
}

h3
{
	font-family: Helvetica;
	text-align: justify!important;
	font-size: calc(0.5rem + 0.7vw);
	color: black;
	text-align: center;
}

h4
{
	font-family: Helvetica;
	font-size: calc(0.6rem + 0.8vw);
	color: black;
	font-weight: bolder;
	text-decoration: underline;
	padding-bottom: 1rem;
}

.EditorialBox
{
	margin-bottom: 2rem;
}

.Editorial
{
	padding-top: 1rem;
}

.Button 
{
    display: flex; 
    justify-content: flex-end; 
    margin-top: 6%;
}

#footer 
{
	width: 100%;
	height: auto!important;
	margin-top: 3rem;
	margin-bottom: 2rem;
}

#footer >img 
{
	width: 100%;
	height: auto;
	margin-left: 1%;
}